.body {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo {
    width: 59px;
}

/* Title */
.title {
    color: var(--base, #FEFEFE);

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 35px;
}

.text_block {
    color: var(--base, #FEFEFE);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    pointer-events: none;
}

/* BLOCK */

.blocks {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: flex-start;
    

}


.block_first {
    display: flex;
    flex-direction: column;
}

.link_block_first {
    /* display: none; */
    display: flex;
    /* width: 404px; */
    /* height: 21px; */
    padding: 3px 30px 0px 0px;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 23px;
    margin-top: 30px;
}

.block_second {
    display: flex;
    flex-direction: column;
    gap: 116px;

}

.block_therd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.lyne {
    background-color: #FEFEFE;
    width: 80vw;
    height: 0.5px;

}

/* Link Block */
.link_block {
    display: none;
}

.link {
    color: #FEFEFE;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);

}

.link:hover, .link:focus {
  font-weight: 900;
}


/* Social link */
.social_block {
    display: flex;
    justify-content: flex-start;
    /* align-items: start; */
    margin-top: 20px;
    width: 210px;

    gap: 15px;
}

.social_link {
    fill: #FEFEFE;
    width: 20px;
    height: 20px;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
}

.social_link:hover, .social_link:focus {
    scale: 1.2;
}







/* Button */
.button {
    width: 245px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 3px;
    border-color: transparent;
    background: var(--base_gradient, linear-gradient(107deg, #4BD8B5 -14.32%, #49D6DF 100.68%));

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
    cursor: pointer;
}



.button_span {
    width: 32px;
    height: 32px;
}

.button:hover {
    box-shadow: 1px 1px 200px #F2F2F2;
    background: var(--base_gradient, linear-gradient(107deg, #45e4bc -14.32%, #30d8e4 100.68%));

  }


  /* last description */

  .description {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 28px;
    gap: 5px;
  }

  .description a {
    display: flex;
    width: 240px;
    color: var(--Gray-4, #BDBDBD);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
  }

  .description a:hover, .description a:focus {
    font-weight: 600;
  }




  /* FOR planshet */
@media (min-width: 640px) {
    .button {
        position: absolute;
        top: 96px;
        right: 20px;
    }

}



/* FOR desktop */
@media (min-width: 1200px) {
    .body {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background-color: #333;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .link_block {
        display: flex;
        width: 404px;
        height: 21px;
        padding: 3px 24px 0px 0px;
        align-items: flex-start;
        gap: 73px;
        margin-bottom: 74px;
    }

    .link_block_first {
        display: none;
    }

    .button {
        position: initial;

    }

    .blocks {
        display: flex;
        flex-direction: row;
        width: 80vw;
        align-items: flex-start;
        justify-content: space-around;
        
    
    }
}