/* Body */
.body {
    background-image: url('../../images/hero/hero_desk@1x.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;

    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    overflow: hidden;

}

/* Styles for 2x screens (high-resolution screens) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .body {
        background-image: url('../../images/hero/hero_desk@2x.jpg');
        /* Adjust height and other styles for 2x screens as needed */
    }
}

.social_block {
    display: none;
}



.social_link {
    fill: #FEFEFE;
    width: 20px;
    height: 20px;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
}

.social_link:hover, .social_link:focus {
    scale: 1.2;
}

  /* Content */
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    gap: 37px;
    width: 80vw;
}


.title {
    color: var(--base, #FEFEFE);
    font-family: Roboto;
    font-size: 5vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    pointer-events: none;
}


/* Button */
.button {
    width: 245px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 3px;
    border-color: transparent;
    background: var(--base_gradient, linear-gradient(107deg, #4BD8B5 -14.32%, #49D6DF 100.68%));

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
    cursor: pointer;
}

.button_span {
    width: 32px;
    height: 32px;
}

.button:hover {
    box-shadow: 1px 1px 200px var(--text-color);
    background: var(--base_gradient, linear-gradient(107deg, #45e4bc -14.32%, #30d8e4 100.68%));

  }


  /* gallery */
  .gallery {
    bottom: 0px;
    background-color: none;
    width: 100vw;
  }


/* FOR planshet */
@media (min-width: 640px) {
    .body {
        display: flex;

        padding-left: 80px;
        padding-right: 80px;
        position: relative;
    
    }

        /* Social link */
        .social_block {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 111px;
            width: 210px;
        
            gap: 15px;
        }
}



/* FOR desktop */
@media (min-width: 1200px) {

    .body {
        padding-left: 150px;
        padding-right: 150px;
        position: relative;
    
    }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    gap: 37px;
    width: 60vw;
}
  .gallery {
    position: absolute;
    bottom: 0px;
    right: -44px;
    background-color: none;
    height: 470px;
    width: 60vw;
  }
}
