/* Body */
.body {
   display: flex;
   justify-content: space-around;
   align-items: center;


   height: 94px;
   background: var(--body-color);
   box-shadow: 0px 4px 8px 0px rgba(44, 101, 77, 0.08);
   z-index: 3;

}

/* Logo */
.logo {
    width: 59px;
    height: 42px;
    flex-shrink: 0;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
}

.logo:hover, .logo:focus {
    scale: 1.1;

}

/* Link Block */
.link_block {
    display: flex;
    gap: 83px;
}

.link {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);

}

.link:hover, .link:focus {
  font-weight: 900;
}

.link_active {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-bottom: 2px solid var(--text-color);
}


