.body {
    display: flex;
    flex-direction: column;

}

/* Title */
.title {
    color: var(--base, #FEFEFE);

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 35px;
}

/* FORMA */
.form {
    display: flex;
    flex-direction: column;
}



/* Button */
.form_btn {
display: flex;
justify-content: flex-end;
}

.button {
    display: flex;
    width: 108px;
    justify-content: center;
    align-items: center;
    color: #FEFEFE;
    gap: 24px;
    background-color: transparent;
    border-color: transparent;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);

    color: var(--base, #FEFEFE);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.button:hover, .button:focus {
    font-weight: 800;
    box-shadow: 1px 1px 200px #fefefe3f;
    /* background-color: #fefefe11; */
}

/* INPUT */
.input_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 383px;
    height: 40px;
    position: relative;
    margin-bottom: 10px;
}

.input {
    width: 100%;

    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid #BDBDBD;

    color: var(#BDBDBD);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    line-height: normal;
}

.input::placeholder {
    color: #BDBDBD;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
}

.input_errors {
    position: absolute;
    bottom: 0;
    color: #4AD7C9;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Input message */
.input_message {
    position: relative;
    z-index: 21;
    width: 383px;
    height: 115px;
    border-radius: 3px;
    border: 1px solid var(--Gray-4, #BDBDBD);
    margin-bottom: 25px;
}

.input_message p {
    position: absolute;
    background-color: #333333;
    z-index: 2;
    top: -12px;
    left: 3px;
    height: 12px;
    padding: 5px;
    pointer-events: none;


    color: var(--Gray-4, #BDBDBD);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.input_message .input {
    height: 100%;
    resize: none;
    padding-top: 10px;
    border-color: transparent;

    color: #BDBDBD;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_message:focus-visible {
    border-color: transparent;
}


  
