.body {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: var(--body-color);
}

.body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 790px;
    gap: 30px;
}

/* Content */
.title {
    color: var(--text-color);

    /* title_style */
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    pointer-events: none;
}


.text {
    color: var(--text-color);

    /* txt_style */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    pointer-events: none;
}



/* Button */
.button {
    width: 245px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border-radius: 3px;
    border-color: transparent;
    background: var(--base_gradient, linear-gradient(107deg, #4BD8B5 -14.32%, #49D6DF 100.68%));

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
    cursor: pointer;
}

.button_span {
    width: 32px;
    height: 32px;
}

.button:hover {
    box-shadow: 1px 1px 200px var(--text-color);
    background: var(--base_gradient, linear-gradient(107deg, #45e4bc -14.32%, #30d8e4 100.68%));

  }
