.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

  }

  /* Buttons next / previos arrow */

  .arrow_prev {
    position: absolute;
    left: -37px;
    top: 35%;
    width: 30px;
    height: 30px;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
    fill: var(--text-color);
  }

  .arrow_next {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -37px;
    top: 35%;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
    fill: var(--text-color);
  }

  .arrow_prev:hover, .arrow_prev:focus,
  .arrow_next:hover, .arrow_next:focus {
    scale: 1.1;
  }

  .slider_box {
    overflow: hidden;
    display: flex;
    gap: 48px;
    z-index: 2;
    padding: 10px;
    border: 1px solid red;
    /* padding: 20px 20px; */
  }



/* FOR mobile */
  @media (max-width: 640px) {
    .slide {
      gap: 17px;
      min-width: 300px;
      height: 310px;
    }

    .slider_box {
      width: 320px;
      overflow: hidden;
      display: flex;
      gap: 48px;
    }

  }

/* FOR planshet */
@media (min-width: 640px) {
  .slide {
    gap: 17px;
    min-width: 585px;
    height: 310px;
  }

  .slider_box {
    max-width: 600px;
    overflow: hidden;
    display: flex;
    gap: 48px;
  }




}

/* FOR desktop */
@media (min-width: 1200px) {

  .slide {
    gap: 17px;
    min-width: 585px;
    height: 310px;
  }

  .slider_box {
    max-width: 1240px;
    overflow: hidden;
    display: flex;
    gap: 48px;
  }
  
}


.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--reviews-color);

  /* 2 */
  box-shadow: 2px 4px 15px 0px rgba(6, 12, 70, 0.10);
  /* animation: slideFromRight 1s ease-out; */

}





  .slideAnimated {
    animation: slideFromRight 1s linear;
  }

  /* Animation */
  @keyframes slideFromRight {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

 .avatar {
    display: flex;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 68px;
    overflow: hidden;

  }

  .avatar img {
    width: auto;


  }



  .slide h2 {
    color: var(--text-color-second);
    text-align: center;
    
    /* h3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .slide p {
    color: var(--text-color-second);
    max-width: 440px;

    /* txt_style */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }



  .btn_box {
    position: relative;
    flex-direction: column;
    margin-top: 20px;
    gap: 11px;
    display: flex;
    width: 245px;
    height: 49px;
    justify-content: center;
    align-items: center;

  }

  .btn_box p {
    color: var(--text-color-second);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .btn_box > p span {
    color: var(--Gray-4, #BDBDBD);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  
  .prev,
  .next {
    position: absolute;
    opacity: 0;
    bottom: -10%;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }


  /* GENERAL SLIDE */
  .slide_general {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(357deg, #000 -56.45%, rgba(0, 0, 0, 0.00) 65.03%), lightgray 50% / cover no-repeat;
    width: 245px;
    height: 352px;
    box-shadow: 5px 4px 50px 0px rgba(152, 157, 198, 0.25);
    overflow: hidden;
  }

  .slide_general img {
    height: 100%;
    

  }

  .slide_general_text {
    position: absolute;
    left: 23px;
    bottom: 72px;
    width: 194px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    pointer-events: none;
  }

  .slide_general_btn_watch {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;

    left: 23px;
    bottom: 34px;
    padding: 0;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    background: var(--base_gradient, linear-gradient(107deg, #4BD8B5 -14.32%, #49D6DF 100.68%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
  }

  .slide_general_btn_watch span > svg {
    width: 24px;
    height: 24px;
    fill: #4BD8B5 ;
  }

  .slide_general_btn_watch:hover, .slide_general_btn_watch:focus {
    scale: 1.1;
  }

  /* btn donate */
.slide_general_btn_donate {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;

    right: 25px;
    bottom: 34px;
    padding: 0;

    color: #FFF;
    border: none;
    transition: all 0.2s cubic-bezier(0.01, 0.59, 1, 0.59);
    background: transparent;

    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.slide_general_btn_donate span > svg {
    width: 24px;
    height: 24px;
    fill: #FFF ;
  }

  .slide_general_btn_donate:hover, .slide_general_btn_donate:focus {
    scale: 1.1;
  }